<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- 作者 -->
    <meta name="author" content="" />
    <!-- 關鍵字 -->
    <meta name="keywords" content="" />
    <!-- 網頁說明 -->
    <meta name="description" content="" />
    <!-- 公司名稱 -->
    <meta name="company" content="" />
    <!-- 版權宣告 -->
    <meta name="copyright" content="" />
    <!-- 網站發佈地址 -->
    <meta name="Distribution" content="" />
    <!-- 分享的標題  -->
    <meta property=" og:title" content="" />
    <!-- 分享的內容敘述 -->
    <meta property="og:description" content="" />
    <!-- 分享的網頁連結 -->
    <meta property="og:url" content="" />
    <!--分享在 FB 的縮圖 -->
    <meta property="og:image" content="" />

    <link rel="shortcut icon" href="./assets/images/icon/shop.ico">
    

    <title><%- title %></title>
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <!-- material icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <!-- 編譯 css -->
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body>
    <div class="container <%- position %>">
      <div class="row">
        <div class="col-lg-1 <%- display %>"></div>
        <div class="col-12 col-lg-11  <%- col %>">
          <!-- logo -->
          <h1 class="logo mb-0 d-flex align-items-center">
            <a href="index.html" class="font-family-raleway font-italic font-weight-black font-size-lg  <%- theme %>  py-5">Crafsman</a>
          </h1>
        </div>
      </div>
    </div>

   
    
    
    <!-- main -->
    <main class="main">
        <%- contents %>
    </main>

    <style>
      .menu{
          position: relative;
      }
      .menu-color.menu-color{
          color: #121212;
      }
      .menu-color-dark{
          color: #121212;
      }
    </style>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
    
  </body>

</html>